# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Testing
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Editor / IDE
.vscode/
.idea/
*.swp
.DS_Store

# Project Specific
# Ignore raw data files to avoid committing large datasets
data/raw/*
!data/raw/.gitkeep